.request-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  vertical-align: top;
  transform: opacity 0.15s;
}
.request-button:hover {
  opacity: 0.8;
}

.add-button {
  background-color: rgba(255, 221, 30, 0.868);
  border: none;
  padding: 9px 70px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: top;
  transition: background-color 0.15s;
}
.add-button:hover {
  background-color: rgb(236, 200, 19);
}

.signUp-button {
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  transition: box-shadow 0.15s;
}

.signUp-button:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}

.getStarted-button {
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 16px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  vertical-align: top;
  transform: background-color 0.15s;
}
.getStarted-button:hover {
  background-color: rgb(90, 60, 134);
}

.download-button {
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgb(108, 117, 125);
  color: rgb(108, 117, 125);
  padding: 10px 16px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: top;
  transition: background-color 0.15s, color 0.15s;
}
.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  border: none;
  padding: 9px 30px;
  border-radius: 35px;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: top;
  transition: background-color 0.15s;
}
.apply-button:hover {
  background-color: rgb(10, 77, 144);
}

.save-button {
  background-color: white;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  padding: 9px 17px;
  border-radius: 20px;
  border-width: 1.2px;
  color: rgb(10, 102, 194);
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s, border-width 0.15s;
}
.save-button:hover {
  background-color: rgba(202, 228, 253, 0.581);
  border-width: 2.2px;
}
a {
  color: rgb(20, 142, 142);
  cursor: pointer;
}

a:hover {
  color: rgb(190, 123, 0);
}

.price {
  color: green;
  font-weight: bold;
}

.amazon-add-button {
  background-color: rgba(255, 221, 30, 0.868);
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s, opacity 0.15s;
}
.amazon-add-button:hover {
  background-color: rgb(236, 200, 19);
}
.amazon-add-button:active {
  opacity: 0.6;
}
.amazon-buy-button {
  background-color: rgb(255, 164, 28);
  font-weight: bold;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s, opacity 0.15s;
}
.amazon-buy-button:hover {
  background-color: rgb(215, 144, 36);
}
.amazon-buy-button:active {
  opacity: 0.6;
}
