body {
  font-family: Arial;
}
.flexbox1 {
  display: flex;
  flex-direction: row;
}
.flexbox1Item1 {
  background-color: lightblue;
  width: 200px;
}
.flexbox1Item2 {
  background-color: pink;
  width: 75px;
}

.flexbox2 {
  display: flex;
  flex-direction: row;
}
.flexbox2Item1 {
  background-color: lightblue;
  width: 50px;
}
.flexbox2Item2 {
  background-color: pink;
  flex: 1;
}
.flexbox2Item3 {
  background-color: lightblue;
  width: 50px;
}
.flexbox3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexbox3Item1,
.flexbox3Item2,
.flexbox3Item3,
.flexbox3Item4 {
  background-color: pink;
}
.flexbox4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: 1px;
  border-style: solid;
  align-items: center;
}
.flexbox4 > div {
  background-color: pink;
}
.socialMediaStats {
  width: 300px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(208, 207, 207);
  padding: 0px 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.home > p {
  margin: 0px;
}
.homeCount {
  font-size: 12px;
  padding: 3px 10px;
  background-color: rgb(54, 129, 249);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.notifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.notifications > p {
  margin: 0px;
}
.notificationsCount {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 10px;
  background-color: rgb(54, 129, 249);
  color: white;
  border-radius: 10px;
}
.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px 10px;
}
.messages > p {
  margin: 0px;
}
.messagesCount {
  background-color: rgb(54, 129, 249);
  color: white;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
}
.navigationBar {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: rgb(139, 15, 188);
  justify-content: space-between;
  align-items: center;
}

.navigationBarHome {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin: 0px;
  margin: 0px 70px 0px 15px;
  cursor: pointer;
}
.search {
  flex: 1;
  font-size: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  max-width: 700px;
}
.download {
  padding: 5px 10px;
  border-color: white;
  background-color: rgb(139, 15, 188);
  border-width: 1px;
  border-style: solid;
  color: white;
  margin-left: 70px;
  margin-right: 10px;
  cursor: pointer;
}
.tweeter {
  width: 350px;
}
.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
img {
  width: 50px;
  border-radius: 25px;
  margin: 10px;
}

.friendDetail {
  flex: 1;
}
.friendDetail > p {
  margin: 0px;
  color: gray;
  line-height: 22px;
}
#name {
  font-weight: bold;
  color: black;
}
.followButton {
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: rgb(54, 129, 249);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
