p {
  margin: 0px;
  font-family: Arial;
}
.profileCard {
  width: 150px;
  box-shadow: 3px 2px 10px rgb(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
}

.profilePictureContainer {
  width: 100%;
}
.profilePicture {
  width: 100%;
  cursor: pointer;
}

.profileCardBottumDetails {
  padding: 0px 6px 8px;
}
.profileNameContainer {
  width: 100%;
}
.profileNameContainer > p {
  font-weight: 600;
  margin-bottom: 4px;
}

.profileIconContainer {
  display: inline-block;
  width: 30px;
}
.profileIcon {
  width: 100%;
  border-radius: 20px;
  vertical-align: middle;
  margin-bottom: 6px;
}
.friendStatsContainer {
  display: inline-block;
}
.friendStatsContainer > p {
  font-size: 12px;
  color: rgb(113, 113, 113);
}

.addButton {
  border: none;
  background-color: rgb(54, 129, 249);
  color: white;
  padding: 6px 15px;
  border-radius: 3px;
  cursor: pointer;
}
