.name,
.email {
  display: block;
  margin-bottom: 10px;
  padding: 7px;
  width: 200px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  outline: none;
}
.surveyText {
  width: 220px;
  font-family: Arial;
  display: inline-block;
  vertical-align: middle;
}

.yes-button {
  padding: 3px 10px;
  cursor: pointer;
}
.no-button {
  padding: 3px 13px;
  cursor: pointer;
}
.google-logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.googleSearch {
  padding: 10px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 15px;
  padding-left: 20px;
  box-shadow: 3px 2px 10px rgb(0, 0, 0, 0.15);
}
.firstName,
.lastName {
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  outline: none;
}
.emailField {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  outline: none;
  margin-top: 10px;
  width: 350px;
}
.signUp {
  border: none;
  background-color: rgb(8, 102, 255);
  color: white;
  text-align: center;
  padding: 12px 158px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.uberTitle {
  font-family: Arial;
  font-size: 30px;
  border-bottom: 0px;
}
.destinationLocation {
  margin-bottom: 20px;
  margin-top: 7px;
}
.pickupLocation,
.destinationLocation {
  padding: 10px;
  width: 300px;
  background-color: rgb(238, 238, 238);
  border: none;
  outline: none;
  display: block;
}

.requestNow {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
.scheduleForLater {
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
