h1 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Montserrat;
}
p {
  margin-top: 0px;
  text-align: center;
  font-family: Montserrat;
}
.delivery-link {
  text-decoration: underline;
}
.delivery-link:hover {
  cursor: pointer;
}
