.picOne {
  width: 200px;
  border-radius: 15px;
}
.picTwo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  vertical-align: top;
  margin-left: 20px;
}
.picThree {
  width: 100px;
  height: 100px;
  object-fit: cover;
  vertical-align: top;
  margin-left: 20px;
  border-radius: 50%;
}
.search-boxOne {
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(203, 199, 199);
  border-style: solid;
}
.googleSearch {
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  width: 450px;
  border-radius: 30px;
  margin-left: 10px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.15);
}
label {
  display: block;
  font-family: Arial;
  font-size: 15px;
  color: rgb(117, 117, 117);
  margin: 10px 0px 5px 0px;
}
.email {
  width: 300px;
  padding: 5px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}
.policyText {
  font-family: Arial;
  font-size: 12.5px;
  color: rgb(117, 117, 117);
}
.agreeJoin {
  background-color: rgb(8, 102, 255);
  border: none;
  color: white;
  padding: 12px;
  width: 310px;
  border-radius: 25px;
  font-size: 15px;
}
.profilePic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}
.post {
  width: 400px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.15);
  border: none;
  padding: 5px;
}
.postInput {
  border: none;
  margin-left: 5px;
  width: 273px;
  outline: none;
}
.tweet {
  background-color: rgb(8, 102, 255);
  border: none;
  color: white;
  padding: 7px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-align: right;
}
