.card-container{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  border-radius: 5px;
  width: 350px;
  padding: 10px
}
.home-section,
.notifications-section,
.messages-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
p{
  font-family: Arial;
  font-size: 14px;
  cursor: pointer;
}
button{
  background-color: rgb(53, 129, 211);
  color: white;
  border-style: none;
  border-radius: 20px;
  padding: 2px 10px 1px 10px;
  cursor: pointer;
}