.card-container{
  width: 400px;
}
.profile-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
}
.user-info{
  flex: 1;
  padding: 5px 10px
}
p{
  margin: 3px 0px;
  font-family: Arial;
  color: gray;
  font-size: 14px
}
.user-name{
  color: black;
  font-weight: bold;
  cursor: pointer;
}
button{
  cursor: pointer;
  background-color: rgb(18, 158, 245);
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 13px;
  border-radius: 3px;
}
