nav{
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  
}
header, #pTag{
  background-color: lightcoral;
  font-size: 50px;
}
.pp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.menuBox{

}

img{
  width: 30px;
}
button:hover{
  border: none;
  border-radius: 10px;
  background-color: green;
  color: red;
}
button:active{
  background-color: purple;
}
