.stretch-button{
  background-color: green;
  padding: 10px 16px;
  border: none;
  color: white;
  transition: padding 0.25s, font-size 0.2s;
  cursor: pointer;
}

.stretch-button:hover{
  padding: 15px 35px;
  font-size: 18px;
}