img{
  width: 200px;
  margin-left: 700px;

}
input{
  display: block;
  margin-left: 570px;
  width: 400px;
  padding: 8px 10px;
  border-radius: 20px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15)
}