.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white; 
  width: 72px;
  z-index: 200; 
  padding-top: 5px;
}
.sideBarLink {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sideBarLink:hover {
  background-color: rgb(234, 234, 234);
}
.sidebar img {
  height: 24px;
  margin-bottom: 4px;
}
.sideBarLink div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
