.search-bar {
  display: block;
}
.thumbnail {
  width: 300px;
  /* display: block; */
  /* object-fit: contain; */
}
.video-title {
}
.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
