p{
  font-family: Arial;
  margin: 0px 0px;
  text-align: center;
}
.title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.description{
  font-size: 17px;
  margin-bottom: 10px;
}
.learn-more-text{
  color: rgb(31, 142, 186);
  cursor: pointer;
}