p{
  font-family: Arial;
  margin: 0px 0px;
}
.price{
  font-weight: 300;
  font-size: 33px;
  margin-bottom: 3px;
}
.usd{
  font-weight: normal;
  font-size: medium;
  color:rgb(108, 117, 135);
}
.sub-title-1{
  color: green;
  margin-bottom: 10px;
}
.sub-title-2{
  color: rgb(108, 117, 135);
}
.sub-title-2-span{
  color: red;
}