.tahoma-font {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 20px;
}

.arial-font {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}
.sales-span {
  font-weight: normal;
  font-size: 16px;
  color: red;
}
.verdana-font {
  font-family: verdana;
  width: 300px;
}
.course-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}
.course-sub-title {
  margin-top: 5px;
  color: rgba(96, 96, 96, 0.789);
}
.getStarted-button {
  background-color: green;
  border: none;
  padding: 9px 20px;
  color: white;
  border-radius: 8px;
}
.arial-font2 {
  font-family: Arial;
  text-align: center;
  line-height: 30px;
}
.arial-title {
  font-weight: bold;
  font-size: 28px;
}
.arial-learnMore {
  color: rgb(6, 95, 212);
}
.mackBook-details {
  font-family: Arial;
  text-align: center;
  line-height: 45px;
  margin-bottom: 0px;
}
.new-span {
  color: rgb(241, 157, 2);
}
.mackbookPro-span {
  font-weight: bold;
  font-size: 30px;
}
.button-container {
  text-align: center;
}
.supercharged-span {
  font-weight: bold;
  font-size: 60px;
}
.buy-button {
  background-color: rgb(6, 95, 212);
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 15px;
}
.price {
  font-family: Arial;
  font-size: 40px;
  margin: 10px 0px 0px 0px;
}
.currency {
  font-size: 20px;
  color: rgb(96, 96, 96);
}
.priceChange {
  margin-top: 5px;
  margin-bottom: 8px;
  font-family: Arial;
  color: green;
}
.afterHours {
  margin-top: 0px;
  font-family: Arial;
  color: rgb(96, 96, 96);
}
.priceClose {
  color: red;
}
.freeCodeURL {
  font-family: Arial;
  font-weight: bold;
  margin: 0px;
}
.freeCodeHandle {
  color: rgb(96, 96, 96);
  font-weight: normal;
  margin: 0px;
}
.freeCodePost {
  font-family: Arial;
  margin-top: 8px;
}
.freeCodeOutLine {
  font-family: Arial;
}
.freeCodeOutlineLink {
  color: rgb(6, 95, 212);
}
